html {
  font-family: 'Exo 2', sans-serif;
  font-size: 14px;
  color: #404040;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

a {
  display: block;
  font-size: 14px;
  text-align: center;
  text-decoration: none;
  width: 100%;

  &:hover {
    cursor: pointer;
  }
}

button,
input,
select {
  font-family: inherit;
}
